.OfferTable {
  td {
    height: 240px;
  }
}
.OfferRow {
  .OfferRow-header {
    width: 180px;
    .OfferRow-separator {
      margin: 0 0.5rem;
    }
  }
  .OfferRow-images {
    margin: 0.5rem 0;
  }
  .OfferRow-body {
    font-size: small;
    line-height: 1;
  }
  .OfferAttributes {
    p {
      line-height: 1;
      small {
        display: block;
        opacity: 0.5;
        text-transform: uppercase;
      }
    }
  }
}

.carousel-item {
  background-color: black;
  width: 480px;
  max-height: 360px;
  img {
    display: block;
    max-width: 480px;
    max-height: 360px;
    margin: 0 auto;
  }
}

big {
  font-weight: bold;
}
